/* ------------------------------------------------- */
/*       Denna CSS färglägger viktiga element        */
/* för att förenkla felsökning och arbete med @media */
/* ------------------------------------------------- */

section {
  background-color: tomato;
}

.navbar {
  background-color: #999;
}

.search {
  background-color: #999;
}

.infopanel_container {
  background-color: lightgreen;
}

#leftbar {
  background-color: thistle;
}
