/* Notering: Jag baserar grundstrukturen på grid-template-areas
  
  navbar_container, friends_container & notifications_container
  har nested grid-template-area eller flex 
  
  Efter att ha undersökt hur det ser ut på större hemsidor
  har jag valt tre primära width-nivåer för mina media queries
  för att passa mitt appupplägg:
  max-width: 1098px
  max-width: 900px
  max-width: 675px

  När designen når lägre än 675 pixlar så 
  anpassar jag appen fullt ut för mobilskärmar 
  */

/* ------------- */
/* GRID SETTINGS */
/* ------------- */

.grid {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  font-weight: bold;
  display: grid;
  grid-template-areas:
    'c c c c c'
    'e . f . g';
  grid-template-columns: 310px auto minmax(60px, 900px) auto 300px;
  grid-template-rows: 60px minmax(300px, auto);
  height: 100vh;
}

.leftbar {
  background-color: lightgreen;
  grid-area: e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightbar {
  grid-area: g;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.infopanel_container {
  grid-row: 1;
}

.infopanel {
  background-color: #666 !important;
  color: whitesmoke;
  margin-right: 5px;
  border-radius: 20px;
  grid-row: 2;
  background: #999;
  display: flex;
  height: 150px;
  margin-top: 20px;
  border: 1px solid #444;
  justify-content: center;
  align-items: center;
}

.friends_container {
  grid-row: 2/4;
  height: auto;
  display: grid;
  grid-template-rows: auto minmax(200px, 500px) 45px;
}

.friendsToggler {
  grid-row: 3;
  background: #999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.friendsToggler > button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: whitesmoke;
  background-color: #666;
  border: none;
  width: 295px;
  padding: 8px 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 1px solid #444;
  outline-width: 0;
}

.friendsToggler > button:hover {
  background-color: #555;
  color: rgb(228, 228, 228);
  cursor: pointer;
}

.friendslist {
  background-color: #666 !important;
  color: whitesmoke;
  margin-right: 5px;
  border-radius: 20px;
  grid-row: 2;
  background: #999;
  display: flex;
  margin-top: 20px;
  border: 1px solid #444;
  justify-content: center;
  align-items: center;
}
