nav {
  background-color: #666;
  gap: 10px;
  grid-area: c;
  display: grid;
  grid-template-areas: 'ca cb . cc . cd';
  grid-template-columns: 60px 240px auto minmax(60px, 900px) auto 300px;
  grid-template-rows: 60px;
  border-bottom: 1px solid #444;
}

nav > ul {
  list-style-type: none;
  color: black;
}

.logo {
  grid-area: ca;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  grid-area: cb;
  border-radius: 20px;
  background-color: rgb(177, 177, 177);
  margin: 8px 2px 8px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
}

.search > input {
  border-radius: 20px;
  background-color: rgb(177, 177, 177);
  width: 100%;
  margin-left: 5px;
  outline: none;
  padding: 13px;
  border: none;
}

.search > button {
  background-color: rgb(177, 177, 177);
  padding: 4px;
  margin-right: 10px;
  border: none;
  margin-left: 5px;
}

.navbar {
  max-width: 400px;
  grid-area: cc;
  display: flex;
  padding-left: 12%;
  padding-right: 12%;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #222;
}

.avatar {
  margin: auto;
  width: 175px;
  padding-left: 1em;
  padding-right: 1em;
  color: whitesmoke;
  display: flex;
  align-items: center;
}

.avatar a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: whitesmoke !important;
}

.notifications_container {
  grid-area: cd;
  background-color: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.notifications {
  padding-right: 1.5em;
  align-content: space-between;
}
